/* Inventory Database Stylesheet */

body {
    padding: 0px 30px 30px 30px;

}
header, nav, footer {
}
header {
    color: #fb503b;
    font-family: 'Lato', sans-serif;
}
nav {
    font-family: 'Lato', sans-serif;
    font-size: 1.15em;
    padding-bottom: 10px;
}
footer {
    color: white;
    background-color: #fb503b;
    font-family: 'Lato', sans-serif;
}
thead {
    font-weight: bold;
}
td {
    padding:10px;
}
table {
    margin-bottom: 30px;
}
